jee/traitement/src/wsdl/25.38.253.159_8733/Design_Time_Addresses/WcfServiceLibrary2/Service1/.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://25.38.253.159:8733/Design_Time_Addresses/WcfServiceLibrary2/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2"/><xs:element name="GetData"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="value" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetDataResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="m_service"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="msg" type="q1:STG" xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2"/></xs:sequence></xs:complexType></xs:element><xs:element name="m_serviceResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="m_serviceResult" type="q2:STG" xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetDataUsingDataContract"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="msg" type="q3:STG" xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetDataUsingDataContractResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetDataUsingDataContractResult" type="q4:STG" xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2"/></xs:sequence></xs:complexType></xs:element></xs:schema>