jee/traitement/src/wsdl/25.38.253.159_8733/Design_Time_Addresses/WcfServiceLibrary2/Service1/.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2"><xs:import schemaLocation="http://25.38.253.159:8733/Design_Time_Addresses/WcfServiceLibrary2/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:import schemaLocation="http://25.38.253.159:8733/Design_Time_Addresses/WcfServiceLibrary2/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="STG"><xs:annotation><xs:appinfo><IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType></xs:appinfo></xs:annotation><xs:sequence><xs:element minOccurs="0" name="app_name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="app_token" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="app_version" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="data" nillable="true" type="q1:ArrayOfanyType" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:element minOccurs="0" name="op_info" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="op_name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="op_statut" type="xs:boolean"/><xs:element minOccurs="0" name="user_login" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="user_psw" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="user_token" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="STG" nillable="true" type="tns:STG"/></xs:schema>